* {
    box-sizing: border-box;
}

header, #teams {background-image: url(images/bgk-header.png);}
footer {background-image: url(images/bgk-footer.png);}
#our-story-bot{background-image: url(images/bgk-middle.png);}

body, html {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 1600px) {
   * {color: red;}
   html {
       width: 1600px;
       margin: 0 auto;
    }
}

[id*="all-content-"], #our-story-top, #expertise, #clients {
    width: 60%;
    margin: 0 auto;
}

#top-header {
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
}

.tajam-logo, #top-menu {
    display: flex;
    align-items: center;
}

#top-menu span {
    padding: 0 12px;
}