* {
    box-sizing: border-box;
}

header, #teams {background-image: url(images/bgk-header.png);}
footer {background-image: url(images/bgk-footer.png);}
#our-story-bot{background-image: url(images/bgk-middle.png);}

body, html {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 1600px) {
   * {color: red;}
   html {
       width: 1600px;
       margin: 0 auto;
    }
}

[id*="all-content-"], #our-story-top, #expertise, #clients {
    width: 60%;
    margin: 0 auto;
}

#top-header {
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
}

.tajam-logo, #top-menu {
    display: flex;
    align-items: center;
}

#top-menu span {padding-left: 14px;}

#bottom-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 155px;
}

#bottom-header p {
    width: 80%;
}

#bottom-header hr {
    width: 5%;
    border: 1px rgba(0, 224, 208, 255) solid;
    background-color: rgba(0, 224, 208, 255);
}

#bottom-header h4 {
    border: 1px solid rgba(0, 224, 208, 255);
    padding: 10px 14px;
    border-radius: 1px;
}

header {
    height: 670px;
}

#our-story-top {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
}

#img-container{
    border: 1px solid black;
    width: 40%;
    display:flex;
    justify-content: center;
}



#our-story-text {
    width: 60%;
    border: 1px solid black;
}

#our-story-text h4 {
    border: 1px solid rgba(0, 224, 208, 255);
    padding: 10px 14px;
    border-radius: 1px;
    display: inline-block;
}