.tajam-logo span {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: rgba(255,255,255,255);
    font-weight: 100;
}

header h1 {
    color: rgba(255,255,255,255);
    font-family: 'Playfair Display', serif;
}

footer, header, #teams, #our-story-bot {
    color: rgba(255,255,255,255);
}