.tajam-logo span {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: rgba(255, 255, 255, 255);
  font-weight: 100;
}

header h1 {
  color: rgba(255, 255, 255, 255);
  font-family: "Playfair Display", serif;
  font-size: 32px;
}

footer,
header,
#teams,
#our-story-bot {
  color: rgba(255, 255, 255, 255);
}

#bottom-header p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

#top-menu span {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 13px;
}

#our-story-text p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: rgba(65, 61, 75, 255);
}

#our-story-text h2,
#expertise-top h2 {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 700;
  color: rgba(65, 61, 75, 255);
}

#bottom-header h4,
#our-story-text h4,
#teams-bot h4,
#submit {
  font-family: "Hammersmith One", sans-serif;
  color: rgba(0, 224, 208, 255);
  font-size: 16px;
  font-weight: 400;
}

#our-story-bot h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 16px;
}

#expertise-top p {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(47, 45, 53, 255);
}

#expertise-bot h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: rgba(65, 61, 75, 255);
}

#expertise-bot p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: rgba(51, 51, 51, 255);
}

#teams h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 22px;
}

#teams p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: rgba(249, 249, 249, 255);
  font-size: 14px;
}

.emp-title {
  font-family: "Roboto", sans-serif !important;
  font-weight: 300 !important;
  font-size: 13px !important;
  color: rgba(250, 250, 250, 255) !important;
}

.emp-name {
  font-family: "Roboto", sans-serif !important;
  font-weight: 900 !important;
  font-size: 14px !important;
}

#teams-bot p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: rgba(243, 243, 243, 255);
}

#clients h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 22px;
  color: rgba(65, 61, 75, 255);
}

#name,
#email,
#subject,
#message {
  color: rgba(65, 61, 75, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

#contact-sub h4,
#our-studio h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 15px;
}

#newsletter,
#contact-phone p,
#contact-location p,
#tajam-info p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

#bottom-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}


